In [1]:
from model.sql_connect import *
from control.playlist_management import *

In [2]:
from model.sql_connect import *

In [3]:
import pandas as pd
song_df = pd.read_csv('C:/Users\\인공지능사관학교\\Desktop\\최종프로젝트\\metadata_plus\\Song.csv')

In [6]:
song_df.head()

      IDX   SONG_ID SONG_TITLE
0  459736  31657937       사랑 참
1  464653   4275834  사랑찾아 인생찾아
2  459198  32323335      항구의남자
3  519043   2563049         얼쑤
4  460477   9642994       사람팔자

In [17]:
db = conn_mysqldb()
cursor = db.cursor()

In [18]:
for i in range(100):
    sql = "INSERT INTO song (SONG_ID, SONG_TITLE) VALUES (%s, %s)"
    cursor.execute(sql, (str(song_df['SONG_ID'].iloc[i]), str(song_df['SONG_TITLE'].iloc[i])))

In [20]:
db.commit()

In [16]:
db.close()

In [3]:
Playlist.make_new_playlist('first', 55)

commit

In [16]:
Playlist.add_song(1,2)

commit

In [10]:
Playlist.delete_song(1,1)

In [18]:
Playlist.get(1).song_list

[2, 3, 1]

In [6]:
db = conn_mysqldb()

In [7]:
cursor = db.cursor()

In [10]:
sql = "INSERT INTO song (SONG_ID, SONG_TITLE) VALUES ('%s', '%s')" % (str(3), '곡3')
cursor.execute(sql)

1

In [11]:
db.commit()

In [11]:
sql = "INSERT INTO playlist (PLAYLIST_ID, SONG_SEQ, SONG_ID) VALUES ('%s', '%s', '%s')" % (str(2) ,str(1), str(2))
cursor.execute(sql)

1